* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* até poderia colocar font-family aqui, porém ao colocar em caixa-textos, fica como herança de estilo  */
  text-decoration: none;
  color: #606060;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
}

.img-thumb {
  width: 100%;
}

.img-canal {
  width: 36px;
}

.body {
  color: #0f0f0f;
  font-size: 14px;
}

.caixa-textos {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /*font-family: "Roboto", Arial, sans-serif;*/
}

.caixa-texto a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.caixa-titulo {
  font-weight: 700;
  font-size: 16px;
  color: #0f0f0f;
}

.subtitulos {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.img-thumb {
  border-radius: 12px;
  margin-bottom: 10px;
}

.img-canal {
  border-radius: 50%;
}

.caixa-info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.caixa-videos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 50px;
}

.caixa-video {
  width: 32%;
}

.menu-principal {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categorias {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.categoria {
  font-size: inherit;
  font-family: inherit;
  border-radius: 8px;
  padding: 7px 12px;
  border: none;

  /* background-color: #0f0f0f;
  color: white; */
  background-color: #0000000d;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.categoria:hover,
.icone-mic {
  background-color: rgba(0, 0, 0, 0.1);
}

.categoria.selecionado {
  background-color: #0f0f0f;
  color: white;
  font-weight: 600;
}

.principal {
  display: flex;
  gap: 30px;
}

.menu-lateral {
  min-width: 240px;
  width: 240px;
}

.menu-bloco,
.menu-login {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.menu-bloco:last-child {
  border-bottom: none;
}

.bloco-item {
  display: flex;
  border-radius: 12px;
  padding: 7.5px 15px;
  align-items: center;
  gap: 20px;
  color: inherit;
  transition: background-color 0.2s ease;
}

.bloco-item.selecionado {
  font-weight: 600;
}

.bloco-item:hover,
.bloco-item.selecionado {
  background-color: #0000000d;
}

.bloco-item.selecionado:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.bloco-titulo {
  margin-left: 15px;
  font-size: 16px;
  padding: 3px 0;
}

.menu-login {
  padding: 16px 32px;
}

.login-texto {
  margin-bottom: 15px;
}

.login-bloco {
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 12px;
  color: #065fd4;
  fill: #065fd4;
  width: max-content;
  transition-property: background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease;
}

.login-bloco:hover {
  background-color: #def1ff;
  border-color: #def1ff;
}

.bloco-texto {
  color: inherit;
  font-weight: 500;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 7.5px 15px;
}

.caixa-logo,
.caixa-pesquisa,
.caixa-login {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icone-logo {
  height: 20px;
}

.icone-menu {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.icone-menu:hover {
  background-color: #0000000d;
}

.input-pesquisa {
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 640px;
  font-size: 16px;
  padding: 0 20px;
}

.icone-menu,
.icone-mic {
  cursor: pointer;
}

.icone-mic {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #0000000d;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.caixa-pesquisa {
  margin-left: 32px;
}

.caixa-logo {
  margin-left: 7px;
}
